@{
    ViewData["Title"] = "Quiénes Somos";
}

<div class="container my-5">
    <h1 class="text-center section-title">Quiénes Somos</h1>
    <p class="lead text-center mb-5">Somos la Fundación Cecilio Humaña, una organización sin fines de lucro dedicada a brindar oportunidades educativas a jóvenes de bajos recursos.</p>

    <div class="d-flex justify-content-center">
        <div class="row align-items-center mb-5">
            <div class="col-md-6 order-md-2">
                <img src="~/img/img1.jpg" alt="Fundador" class="img-fluid rounded shadow-lg">
            </div>
            <div class="col-md-6 order-md-1">
                <div class="card card-custom">
                    <div class="card-body">
                        <h2 class="card-title">Fundador</h2>
                        <p class="card-text">
                            El presbítero Cecilio Umaña (1794 – 1871), fue el primer Presidente de la Asamblea Ordinaria del Estado, que inició labores el 14 de abril de 1825. Era un notable y acaudalado terrateniente, quién donó las tierras donde en la actualidad se ubica San Vicente de Moravia. También fue benefactor del Hospital San Juan de Dios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="~/img/img2.jpeg" alt="Objetivo" class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-md-6">
            <div class="card card-custom">
                <div class="card-body">
                    <h2 class="card-title">Objetivo</h2>
                    <p class="card-text">
                        La Fundación tiene como objetivo principal ayudar a los jóvenes de bajos recursos a cursar sus estudios colegiales, apoyándolos económicamente y motivándolos a ser profesionales en el futuro. Actualmente, la fundación ofrece becas estudiantiles a estudiantes de Moravia y zonas aledañas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="d-flex justify-content-center">
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-2">
            <img src="~/img/img3.jpg" alt="Ubicación Actual" class="img-fluid shadow-lg" style="height: 390px">
        </div>
        <div class="col-md-6 order-md-1">
            <div class="card card-custom">
                <div class="card-body">
                    <h2 class="card-title">Ubicación Actual</h2>
                    <p class="card-text">
                        Actualmente, la fundación tiene un lugar de reunión en un edificio que lleva el nombre de su fundador, ubicado al costado de la Iglesia de Moravia, al frente de la parada de buses. Este edificio, con más de 100 años de historia, sigue siendo un testimonio del legado de Cecilio Umaña.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
